body {
  padding-top: 126px; 
}
.navbar-nav .nav-link {
  font-weight: bold;
}

.navbar-brand img {
  vertical-align: middle;
}

.custom-navbar {
  background-color: #075988;
}

html {
  scroll-behavior: smooth;
}

h3 {
  text-align: center;
}

.card-wrapper {
  padding: 1.5rem;
}

.card a.btn {
  margin-top: auto;
}


h1 {
  text-align: center;
}

p {
  text-align: center;
  padding-top: 15px;
}

img {
  width: 100%;
  height: auto;
}

a {
  color: white;
}

body {
  overflow-x: hidden;
  max-width: 100%;
}

.homescreen-card {
  width: 100%;
  max-width: auto;
  height: auto;
}
.navbar .dropdown-menu {
  background-color: #075988; 
}
.navbar .dropdown-item {
  color: white; 
}
.navbar .dropdown-item:hover {
  background-color: #ffffff75; 
}

.footer-bg {
  background-color: #919191;
}

#footer footer {
  width: 100%;
}
#footer a {
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}

@media (max-width: 776px) {
  #footer .d-flex.gap-4 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.footer-links {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.footer-links a {
  text-decoration: none;
  font-weight: 500;
}

@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);

body {
    font-family: 'Alegreya Sans', sans-serif;
}

/* Sticky footer position and size
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 300px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 300px;
}

/* Taller footer on small screens */
@media (min-width: 1200px) {
    body {
      margin-bottom: 300px;
    }
    .footer {
      height: 245px;
    }
}

@media (max-width: 758px) {
    body {
      margin-bottom: 800px;
    }
    .footer {
      height: 45rem;
    }
}

@media screen and (min-width: 920px) and (max-width: 1200px) {
    body {
      margin-bottom: 390px;
    }
    .footer {
      height: 19rem;
    }
}

@media screen and (min-width: 758px) and (max-width: 920px) {
    body {
      margin-bottom: 390px;
    }
    .footer {
      height: 22rem;
    }
}

/* Sticky footer style and color
-------------------------------------------------- */
footer {
  padding-top: 30px;
  background-color: #292c2f;
  color: #bbb;
}

footer a {
  color: #999;
  text-decoration:none;
}

footer a:hover, footer a:focus {
  color: #aaa;
  text-decoration:none;
  border-bottom:1px dotted #999;
}

footer .form-control {
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgb(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
    padding: 0.7em 1em;
}